<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDsGncrZFM3qxYVq7EBAuqXpGN30UvCU8k",
    authDomain: "hacker-news-asw.firebaseapp.com",
    databaseURL: "https://hacker-news-asw.firebaseio.com",
    projectId: "hacker-news-asw",
    storageBucket: "hacker-news-asw.appspot.com",
    messagingSenderId: "634881005621",
    appId: "1:634881005621:web:27607b9b4fdda363dc397c",
    measurementId: "G-V0R0H0VRJK"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>